section {
  display: grid;
  column-gap: 4rem;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

section h2 {
  grid-column: 1 / span 2;
}

section p {
  grid-column: 1;
}

h2 + p + div {
  position: relative;
  right: 1rem;
}

img {
  border-radius: 4px;
  /* max-width: var(--space-7xl); */
  width: auto;
}

input[type="image"] {
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  max-width: 100%;
  object-fit: cover;
  outline: 1px solid white;
  position: absolute;
}

input[type="image"] + input[type="image"] {
  top: 1rem;
  right: 1rem;
}

input[type="image"] + input[type="image"] + input[type="image"] {
  top: 2rem;
  left: 1rem;
}

.ddd {
  background-color: white;
  overflow: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 90vw; */
  /* max-width: 600px; */
  max-height: 85vh;
  padding: var(--space-xs);
  border-radius: 4px;
}
